body{
  margin: 50px;
}

.btn, .btn:visited, .btn:hover{
  margin:5px;
  border-style: outset;
  background-color: lightgray;
  color: black;
}
.btn:active{
  margin:5px;
  border-style: inset;
  background-color: lightgray;
  color: black;
}

#calculator{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#window{
  border-style: inset;
  text-align: right;
  background-color: lightgreen;
  height: 25px;
}
